 <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
        <a href="{{gitUrl}}">{{gitLink}}</a>
        <a href="{{gitHubUrl}}">{{gitHubLink}}</a>
      <h3>{{subtitle}}</h3>
        <p>{{body}}</p>
    </div>
  </div>